

config KENDRYTE_SDK_ENABLE
	bool "Enable kendryte sdk"
	default n
menu "Kendryte configurations"
	visible if KENDRYTE_SDK_ENABLE
	config SDK_LOG_LEVEL
		int "log level, 5:LOG_VERBOSE, 4:LOG_DEBUG, 3:LOG_INFO, 2:LOG_WARN, 1:LOG_ERROR, 0:LOG_NONE"
		default 5
endmenu


