

config COMPONENT_KENDRYTE_SDK_ENABLE
	bool "Enable kendryte sdk component"
	default y
menu "Kendryte SDK configurations"
	depends on COMPONENT_KENDRYTE_SDK_ENABLE
	config SDK_LOG_LEVEL
		int "log level, 5:LOG_VERBOSE, 4:LOG_DEBUG, 3:LOG_INFO, 2:LOG_WARN, 1:LOG_ERROR, 0:LOG_NONE"
		range 0 5
		default 5
endmenu


