

config COMPONENT_KENDRYTE_SDK_ENABLE
	bool "Enable kendryte sdk component"
	default y
menu "Kendryte SDK configurations"
	depends on COMPONENT_KENDRYTE_SDK_ENABLE
	config SDK_LOG_LEVEL
		int "log level, 5:LOG_VERBOSE, 4:LOG_DEBUG, 3:LOG_INFO, 2:LOG_WARN, 1:LOG_ERROR, 0:LOG_NONE"
		range 0 5
		default 5
	config SDK_LOCK_NUM
		int "SDK LOCK number, one lock need 24B"
		default 64
	config FREERTOS_ENABLE
		bool "Enable FreeRTOS"
		default y
	menu "FreeRTOS configurations"
		depends on FREERTOS_ENABLE
		config STATIC_TASK_CLEAN_UP_ENABLE
			bool "static task clean up callback"
			default n
		config FREERTOS_MALLOC_CUSTOM
			bool "Use custom malloc method(heap_4.c) instead of libc's(stdlib.h)"
			default n
		config FREERTOS_HEAP_TOTAL_SIZE
			depends on FREERTOS_MALLOC_CUSTOM
			int "FreeRTOS heap total size"
			default 524288
		config FREEROTS_MINIMUM_STACK_SIZE
			int "FreeRTOS minimum stack size"
			default 2048
	endmenu
	config MIC_ARRAY_ENABLE
		bool " Enable mic array module"
		default n
endmenu


