# Compiled Sources
###################
*.o
*.a
*.elf
*.bin
*.map
*.hex
*.dis
*.exe

# Packages
############

# Logs and Databases
######################
*.log

# VIM Swap / Temp Files
######################
*.swp
*~

# ctags data
######################
tags

# Build directory
######################
build/

# Test failure outputs
######################
tests/*.exp
tests/*.out

# Python cache files
######################
__pycache__/
*.pyc

# Customized Makefile/project overrides
######################
GNUmakefile
user.props

# Generated rst files
######################
genrst/

# VS Code Settings
.vscode

!ports/k210-freertos/platform/api/lib_mic.a
