[submodule "tools/kconfig/Kconfiglib"]
	path = tools/kconfig/Kconfiglib
	url = https://github.com/ulfalizer/Kconfiglib.git
[submodule "components/kendryte_sdk/kendryte-standalone-sdk"]
	path = components/kendryte_sdk/kendryte-standalone-sdk
	url = https://github.com/sipeed/kendryte-standalone-sdk
