mk
build
output
Maixpy
Maixpy.bin
tools/kflash.py
config.conf
.vscode
*.mk
!k210.mk
!common_c.mk
!common.mk
!tools/mk
!tools/mk/*.mk
!modules_conf_default.mk
./kflash.py
asm.txt
yacctab.py
lextab.py
*.a


